<%-include("header")-%>
<section class="py-5 text-center container page-section" style="padding:0 !important;background:#F7DAD9;">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto ">
      <div class="main-head-about-container" style="padding:10px;margin:90px auto;width:80%;text-align:left;">
        <h1 id="aboutus-head-anime" class="main-head-about">Digital world made simple,know more about us.<span class="blink" style="font-weight:700;"></span></h1>
        </div>

    </div>
    <div class="col-lg-6 col-md-8 mx-auto about-us-back" style="height:400px;">

    </div>


  </div>
</section>
<div class="container" style="text-align:center;margin-top:60px;">
  <h2>We are your connection with the digital world.</h2>
  <p style="text-align:justify;padding:10px;margin-top:35px;">Our Motto - Clean, Dependable and Result Oriented mailing lists. With several mailing lists available in the fast paced business world, choosing a company that sticks to quality is something that needs to be scanned through the magnifying lens to feel assured of the purchase. We at Myknot are here to ease your worries when it comes to finding the right mailing lists for your business. Our motto is “delivering high quality mailing lists catering to different industries”, ranging from but not limited to healthcare, hospitality, construction, technology user list and energy cum utilities list,just to name a few. Tailored to suit our customer’s demands, we are most sought after for our authentic and deliver personalised mailing lists,even if the requirements span outside our existing domains. You can always bank on us for accurate data which we retrieve with precision. If you are looking to narrow your search with targeted markets or reach your global clients then our mailing lists would be ideal for your business. Our young and dynamic team with experts on board strives to save your time and provide value for money by offering targeted mailing lists apt for your business requirements. Data is meticulously evaluated to eliminate any incorrect and outdated information thereby making it clean and current that can be used confidently.
  </p>
</div>
<%-include("footer")-%>
