<footer class="text-muted py-5" style="background:#000000; margin-top:80px;">
  
  <div class="row footer">
    <div class="col col-lg-4 col-md-4 col-12" >

      <div class="footer-content">
        <h4 style="font-weight:bold;">Myknot Services</h4>
        <div class="sub-footer-content">
          <p style="text-align:justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
          <ul>
            <li><a href="#"><img src="images/linkedin.png" style="width:30px;" alt=""></a></li>
            <li><a href="#"><img src="images/instagram.png" style="width:30px;" alt=""></a></li>
            <li><a href="#"><img src="images/facebook.png" style="width:30px;" alt=""></a></li>
            <li><a href="#"><img src="images/whatsapp.png" style="width:30px;" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col col-lg-4 col-md-4 col-12">

      <div class="footer-content">
        <h4>Contact</h4>
        <div class="sub-footer-content">
          <h5>Address:</h5>
          <p>798 South Park Avenue, New York, USA</p>
          <h5>Email Id:</h5>
          <p>myknot123@gmail.com</p>
          <h5>Phone No:</h5>
          <p>9239238944</p>
        </div>
      </div>
    </div>
    <div class="col col-lg-4 col-md-4 col-12">

      <div class="footer-content">
        <h4>Quick Links</h4>
        <div class="sub-footer-content">
          <h6><a href="#" style="text-decoration:none;color:#FEF1E6;">Home</a></h6>
          <h6><a href="#" style="text-decoration:none;color:#FEF1E6;">About Us</a></h6>
          <h6><a href="#" style="text-decoration:none;color:#FEF1E6;">Services</a></h6>
          <h6><a href="#" style="text-decoration:none;color:#FEF1E6;">Contact Us</a></h6>
        </div>
      </div>
    </div>
    <div class="ast-footer-copyright "><p><strong>Copyright &copy; 2021 Myknot Services</strong></p></div>

  </div>

  </div>
</footer>




    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <script type="text/javascript">
      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
      var popoverList = popoverTriggerList.map(function(popoverTrigger){
        return new bootstrap.Popover(popoverTrigger);
      });
    </script>




  </body>
</html>
