<%-include("header")-%>
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="main-head">Your dream websites awaits !</h1>
        <p class="lead text-mute">Welcome to our fresh collection of themes.Hope you find your dream website here.Start your journey with our themes.</p>
        <img src="images/animation.png" style="width:50px;margin-top:20px;" alt="">
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">

    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">

            <div class="themePreview" >
              <img src="https://www.elegantthemes.com/layouts/wp-content/uploads/2017/12/fashion-landing-533x2328.jpg">
            </div>
            <div class="card-body">
              <form  action="/form" method="post">
                <p style="font-weight:bold;"   >Fashion landing page.</p>
                <input type="hidden" name="title" value="Fashion landing page.">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <button type="submit" class="btn btn-sm btn-outline-secondary"  >select</button>
                    <a class="btn btn-sm btn-dark" href="https://www.elegantthemes.com/layouts/art-design/fashion-landing-page/live-demo">preview</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="themePreview">
              <img src="https://www.elegantthemes.com/layouts/wp-content/uploads/2018/09/nutritionist-landing-page-533x3232.jpg">
            </div>
            <div class="card-body">

              <form  action="/form" method="post">
                <p style="font-weight:bold;"   >Nutritionist landing page.</p>
                <input type="hidden" name="title" value="Nutritionist page.">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <button type="submit" class="btn btn-sm btn-outline-secondary"  >select</button>
                  <a class="btn btn-sm btn-dark" href="https://www.elegantthemes.com/layouts/food-drink/nutritionist-landing-page/live-demo">preview</a>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="themePreview">
              <img src="https://www.elegantthemes.com/layouts/wp-content/uploads/2018/01/restaurant-landing-533x1781.jpg">
            </div>
            <div class="card-body">

              <form  action="/form" method="post">
                <p style="font-weight:bold;"   >Restaurant landing page. </p>
                <input type="hidden" name="title" value="Restaurant landing page.">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <button type="submit" class="btn btn-sm btn-outline-secondary"  >select</button>
                  <a class="btn btn-sm btn-dark" href="https://www.elegantthemes.com/layouts/business/restaurant-landing-page/live-demo">preview</a>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <div class="themePreview">
              <img src="https://www.elegantthemes.com/layouts/wp-content/uploads/2018/02/juice-shop-landing-page-533x2569.jpg">
            </div>
            <div class="card-body">

              <form  action="/form" method="post">
                <p style="font-weight:bold;"   >Juice shop landing.</p>
                <input type="hidden" name="title" value="Juice shop landing.">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <button type="submit" class="btn btn-sm btn-outline-secondary"  >select</button>
                  <a class="btn btn-sm btn-dark" href="https://www.elegantthemes.com/layouts/food-drink/juice-shop-landing-page/live-demo">preview</a>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="themePreview">
              <img src="https://www.elegantthemes.com/layouts/wp-content/uploads/2019/04/farmer-landing-page-533x2372.jpg">
            </div>
            <div class="card-body">

              <form  action="/form" method="post">
                <p style="font-weight:bold;"   >Farmer Landing.</p>
                <input type="hidden" name="title" value="Farmer landing.">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <button type="submit" class="btn btn-sm btn-outline-secondary"  >select</button>
                  <a class="btn btn-sm btn-dark" href="https://www.elegantthemes.com/layouts/food-drink/farmer-landing-page/live-demo">preview</a>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="themePreview">
              <img src="https://www.elegantthemes.com/layouts/wp-content/uploads/2019/07/donut-shop-landing-page-533x1883.jpg">
            </div>
            <div class="card-body">

              <form  action="/form" method="post">
                <p style="font-weight:bold;"   >Donut shop landing.</p>
                <input type="hidden" name="title" value="Donut shop landing.">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <button type="submit" class="btn btn-sm btn-outline-secondary"  >select</button>
                  <a class="btn btn-sm btn-dark" href="https://www.elegantthemes.com/layouts/food-drink/donut-shop-landing-page/live-demo">preview</a>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <div class="themePreview">
              <img src="https://www.elegantthemes.com/layouts/wp-content/uploads/2020/04/winery-landing-page-533x2491.jpg">
            </div>
            <div class="card-body">

              <form  action="/form" method="post">
                <p style="font-weight:bold;"   >Winery landing page.</p>
                <input type="hidden" name="title" value="Winery landing page.">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <button type="submit" class="btn btn-sm btn-outline-secondary"  >select</button>
                  <a class="btn btn-sm btn-dark" href="https://www.elegantthemes.com/layouts/food-drink/winery-landing-page/live-demo">preview</a>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="themePreview">
              <img src="https://www.elegantthemes.com/layouts/wp-content/uploads/2018/06/elementary-school-landing-page-533x2129.jpg">
            </div>
            <div class="card-body">

              <form  action="/form" method="post">
                <p style="font-weight:bold;"   >Elementary school landing.</p>
                <input type="hidden" name="title" value="Elementary school landing.">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <button type="submit" class="btn btn-sm btn-outline-secondary"  >select</button>
                  <a class="btn btn-sm btn-dark" href="https://www.elegantthemes.com/layouts/education/elementary-school-landing-page/live-demo">preview</a>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="themePreview">
              <img src="https://www.elegantthemes.com/layouts/wp-content/uploads/2017/12/coding-school_landing-533x2406.jpg">
            </div>
            <div class="card-body">

              <form  action="/form" method="post">
                <p style="font-weight:bold;"   >LMS landing page.</p>
                <input type="hidden" name="title" value="LMS landing page.">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <button type="submit" class="btn btn-sm btn-outline-secondary"  >select</button>
                  <a class="btn btn-sm btn-dark" href="https://www.elegantthemes.com/layouts/education/lms-landing-page/live-demo">preview</a>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
</main>

<%- include("footer") -%>
