<%-include("header")-%>
<section class="py-5 text-center container" style="padding-top:0 !important;">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto ">
      <div  style="padding:10px;margin:40px auto 0;margin-bottom:60px;width:80%;text-align:left;">
        <h1 class="main-head-services">With the right skills, <span style="color:#8E05C2;">aything’s possible</span>  <span class="blink" style="font-weight:700;color:#8E05C2;">!</span></h1>
        <p class="lead text-mute myDesc" style="margin-top:20px;text-align:justify !important;">Give our team a chance and we will make sure you have a excellent digital presence!</p>
        <button type="button" name="button" class="get-started-button" style="margin-top:20px;">Get started ></button>
      </div>

    </div>
    <div class="col-lg-6 col-md-8 mx-auto services-back" style="height:400px;">

    </div>


  </div>
</section>
<div class="container">
  <h5 style="text-align:center;font-weight:bold;margin:0 0 50px;padding:0 10px;">Myknot Services is trusted by 16+ businesses and we are continuously growing.</h5>
  <div class="row" style="margin-bottom:140px;">
    <div class="col-lg-2 col-md-4 col-sm-6 col-6 company-logo" >
      <img src="/images/green-box-logo.webp" style="width:150px;" alt="">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-6 company-logo">
      <img src="/images/academy-logo.jpg" style="width:150px;" alt="">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-6 company-logo">
      <img src="/images/insurance-logo.png" style="width:160px;height:30px;" alt="">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-6 company-logo" >
      <img src="/images/transport-logo.png" style="width:180px;height:50px;" alt="">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-6 company-logo" >
      <img src="/images/cake-nagar-logo.jpg" style="width:80px;" alt="">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-6 company-logo" >
      <img src="/images/marks-design-logo.png" style="width:120px;" alt="">
    </div>
  </div>
  <div class="row" style="text-align:center;">
     <h2 class="service-h4-font">Grow your people — and your business</h2>
     <p style="font-family:BiotifRegular,sans-serif;font-size:1.2rem;">Myknot services helps you to navigate change and stay ahead of the digital game.</p>
  </div>
  <div class="row" style="margin-top:70px;">
     <div class="col-lg-6 col-md-8 mx-auto center">
      <img class="service-images" src="/images/design.png" alt="">
     </div>
     <div class="col-lg-6 col-md-8 mx-auto">
        <div class="sub-col">
          <h4 class="service-h4-font">Enhance your digital presence</h4>
          <ul class="service-content">
            <li class="service-content-points">select themes from our unique collection.</li><br>
            <li class="service-content-points">building custom theme accoding to your request.</li><br>
            <li class="service-content-points">with custom domain.</li>
          </ul>
          <h5 style="font-weight:bold;color:#916BBF;">Explore ></h5>
        </div>
     </div>
  </div>
  <div class="row" style="margin-top:70px;">
     <div class="col-lg-6 col-md-8 mx-auto center">
      <img class="service-images" src="/images/developer.png" alt="">
     </div>
     <div class="col-lg-6 col-md-8 mx-auto">
        <div class="sub-col">
          <h4 class="service-h4-font">Choose our mailing lists</h4>
          <p style="font-size:1.1rem;font-family:BiotifRegular,sans-serif;">As a premium quality B2B mailing list provider, we ensure that our mailing lists are current,verified and of superior class. Our lists contain the latest information of the prospective address and their responsive telephone numbers.</p>

          <h5 style="font-weight:bold;color:#916BBF;">Explore ></h5>
        </div>
     </div>
  </div>
  <div class="row" style="margin-top:70px;">
     <div class="col-lg-6 col-md-8 mx-auto center">
      <img class="service-images" src="/images/maintain.png" alt="">
     </div>
     <div class="col-lg-6 col-md-8 mx-auto">
        <div class="sub-col">
          <h4 class="service-h4-font">B2B Data Appending</h4>
          <p style="font-size:1.1rem;font-family:BiotifRegular,sans-serif;">Myknot's B2B data appending services works by filling the gaps in your business database with vital information such as email, organization information, telephone address to name a few. Our B2B appending services will help you in retaining your customers and offer the best relationship with them as we provide organizations with addresses both email and postal, telephone numbers for a better business relationship.
          </p>
          <h5 style="font-weight:bold;color:#916BBF;">Explore ></h5>
        </div>
     </div>
  </div>

</div>
<%-include("footer")-%>
