.ast-footer-copyright{
  margin:40px auto 0;
}
body::-webkit-scrollbar {
  width: 1em;
  overflow:hidden !important;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #112031;
  border-radius: 20px;
  outline: 1px solid slategrey;
}
.back{
  background-image:url("/images/mainimage.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.btnn {
  border: none;
  border-radius: 4px !important; }
  .btnn.btnn-primary {
    background: #000;
    color: #fff;
    padding: 15px 20px; }

  .btnn.btnn-home{
    height: 40px;
    background: #FF6767;
    color: #fff;
    text-decoration: none;
  }
  .btnn:hover {
    color: #fff; }
  .btnn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

  .box {
    padding: 40px;
    background: #fff;
    -webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
    box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08); }
  .box h3 {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
  }
.blink{
  animation: cursor-blink 1.5s steps(2) infinite;
  color: black;
  animation-delay: 4s;
}
.box-shadow{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: white;
}
.button{
  width:80px;
  padding: 5px 10px;
  border-radius: 0 !important;
}


.btnn, .form-control, .custom-select {
  height: 50px;

}
.form-control{
    background: #F3F1F5 !important;
    margin-bottom: 15px;
}

    label.error {
      font-size: 12px;
      color: red; }
.form-search{
  width:200px ;
  margin-bottom: 0 !important;
  border-radius: 30px;
  border: 1px solid #000000 !important;
}

@media(min-width:600px){
  .form-search{
    width:600px !important;
    margin-bottom: 0 !important;
  }
}


.category-nav{
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0;
}

.category-options{
  margin:10px 25px;
  font-size: 14px;
  display: inline;
}
.category-nav-container{
  border-top: 1px solid #D5D5D5;
}
@media(max-width:800px){
  .category-nav-container{
    display: none;
  }
}
@media(max-width:500px){
  .container-fluid{
    padding: 10px 50px !important; 
  }
}
.car{
  width:250px ;
  display: inline-block;
  margin-left: 16px;
}
.col-form-label {
  color: #000; }
.car1{
  width:250px ;
  display: inline-block;
}
.content {
  padding: 7rem 0; }
  .custom-select:active, .custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }


.footer{
  text-align: center;
  padding: 40px 40px 0;
  color: #FEF1E6;
  font-family: BiotifRegular;
}
ul{
  list-style: none;
}
li{
  display:inline;
  margin-left: 10px;
}
.footer-content{
  width: 350px;
  text-align: left;
  padding: 0 20px;
  margin: 0 auto;
}

.form-control {
border: none;
background: #f3f3f3; }
.form-control:active, .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
  background: #f3f3f3; }
@font-face {
  font-family: LibreBaskerville-Bold;
  src: url(/fonts/LibreBaskerville-Bold.ttf);
}
@font-face {
  font-family: BiotifRegular;
  src:url(/fonts/Biotif-Regular.ttf);
}
#form-message-warning, #form-message-success {
  display:none; }

#form-message-warning {
  color: #B90B0B; }

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold; }

.head-font{
  font-family: 'Suisse Works Bold', serif;
}

.heading {
  font-size: 2.5rem;
  font-weight: 900; }
h1{
  position: relative;
  font-family: 'Suisse Works Bold', serif;
  font-size: 2.7em ;
  font-weight: 900;
}

h1::after,h1::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before{
  background: White;
  animation: typewriter 4s steps(28) forwards;
}


@media (max-width:500px){
  h1{
    font-size: 1.5em !important;
  }
}

@media(max-width:500px){
  .footer-content{
    width:250px;
    padding: 0;
    margin:30px auto 0;
  }
}

.main-menu-option{
  text-decoration: none;
  color: #000000;
  margin-right: 15px;
  font-size: 14px;
}

.mainImg{
  width:500px;
  padding: 20px;
}
.main-head{
  font-size: 2.5rem;
  font-weight: 900;
}

.marge{
  margin:24px auto 48px !important;
}
.mainImg{
  background-image: url("/images/mainImage.jpg");
}
.more{
  position: relative !important;
  right:0 !important;
  font-family: BiotifRegular,sans-serif;
}
#message {
  resize: vertical; }
/* .myDesc{
  font-family:BiotifRegular, sans-serif !important;
} */

.themePreview{
  height:225px;
  inset:0px;
  overflow:hidden;
  scrollbar-width:thin;
  scrollbar-color:dark:
}
/* .card:hover > .themePreview{
  height: 150px;
} */
.search-button{
  background-image: url("/images/search-icon.png");
  width:40px;
  height:40px;
  margin: auto 0;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0 ;
}
.sub-head-font{
  font-weight: bold;
}
.sub-footer-content{
  margin-top: 30px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  white-space: nowrap;
  word-wrap: break-word;
  display: flex;
}
.scrolling-wrapper {
  -webkit-overflow-scrolling:touch;
}
.scrolling-wrapper::-webkit-scrollbar{
  width:0;
}
.themePreview::-webkit-scrollbar{
  width:5px;
  height:5px;
}
.themePreview::-webkit-scrollbar-track{
  border-radius: 10px;
  /* background: #f5f5f5;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}
.themePreview::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: #112031;
}
.theme-desc{
  font-size: 0.8rem;
  white-space: pre-wrap;
}
.theme-title{
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
  white-space: pre-wrap;
}

.theme-desc1{
  width:250px !important;
  font-size: 0.8rem;
  white-space: pre-wrap;
}
.theme-title1{
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
  white-space: pre-wrap;
}

textarea {
  width: 300px;
  height: 150px;
}




.myDesc{
  font-weight:350;
  font-size: 15px;
}



@keyframes typewriter {
  to{
    left: 100%;
  }
}





    .nav-container{
       box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .submitting {
      float: left;
      width: 100%;
      padding: 10px 0;
      display: none;
      font-weight: bold;
      font-size: 12px;
      color: #000;
     }
   .slider{
     display: flex !important;
     overflow-x: auto !important;
   }
   .swal-button {
     background-color: #000000;
   }


.wrapper{
  max-height: 120px;
  border:1px solid #ddd;
  display: flex;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
  width: 0;
}

.wrapper .item{
  min-width: 110px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  background: #ddd;
  margin-right: 2px;
}
